<!--Header-->
<header class="main-header">
  <div class="head-top text-white">
    <div class="container-fluid custom_large-spacer-80">
      <div class="d-flex flex-wrap align-self-center justify-content-between">
        <div class="follow-us d-flex">
          <h6 class="mb-0 me-3">Follow us on:</h6>
          <div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div class="top-link d-col-hide">
          <a routerlink="/about-us" ng-reflect-router-link="/about-us" href="#/about-us"> About Goonee</a>
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid custom_large-spacer-80">
      <a class="navbar-brand" href="#/"><img src="assets/images/goonee-logo.svg" alt="Goonee"></a>
      <ul class="navbar-nav ms-auto d-lg-flex d-none align-items-center">
        <li class="nav-item dropdown custom_dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" aria-labelledby="accounntMenu">
            <li><a class="dropdown-item" href="#">Categories1</a></li>
            <li><a class="dropdown-item" href="#">Categories2</a></li>
            <li><a class="dropdown-item" href="#">Categories3</a></li>
            <li><a class="dropdown-item" href="#">Categories4</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Be A Tutor</a></li>
        <li class="nav-item"><a class="nav-link"  href="#">My Learnings</a></li>
      </ul>
      <ul class="navbar-nav d-flex ms-auto-md align-items-center">
        <li class="nav-item"><button id="search" class="custom_link-btn"><i class="fa fa-search"></i></button></li>
        <li class="nav-item"><button id="cart" class="custom_link-btn"><i class="fa fa-shopping-cart"></i></button></li>

      </ul>
      <ul class="navbar-nav d-sm-flex align-items-center">
        <li class="nav-item dropdown">
          <button class="notification-indicator notification-indicator-primary custom_link-btn" data-count-num="5" id="navbarDropdownNotification" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-hide-on-body-scroll="data-hide-on-body-scroll">
            <i class="far fa-bell"></i>
          </button>

          <div id="navbarDropdownNotification" class="dropdown-menu dropdown-menu-end dropdown-menu-card dropdown-menu-notification" aria-labelledby="navbarDropdownNotification">
            <div class="card-notification shadow-none">
              <div class="card-header">
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <h6 class="card-header-title mb-0 text-white text_bold">Notifications</h6>
                  </div>
                  <div class="col-auto ps-0 ps-sm-3"><a class="card-link fw-normal" href="#">Mark all as read</a></div>
                </div>
              </div>
              <div class="scrollbar-overlay os-host os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition os-host-overflow os-host-overflow-y">
                <ul class="nav nav-tabs custom_tab custom_tab-dark justify-content-between" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Overall</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Connection Requests<span>(20)</span></button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Messages (12)</button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Overall</div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Overall1</div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Overall2</div>
                </div>

              </div>
            </div>
          </div>
        </li>
        <li class="nav-item"><a class="custom_avtar-dropdown"><img src="assets/images/placeit-close-up-portrait.png" class="img-fluid rounded-circle" alt="Image"></a></li>
      </ul>
      <a data-bs-toggle="collapse" href="#sideNavbar" aria-expanded="false" aria-controls="sideNavbar" class="navToggle collapsed">
        <svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.47382 13.6634C3.52218 13.6634 4.37203 12.8135 4.37203 11.7652C4.37203 10.7168 3.52218 9.86694 2.47382 9.86694C1.42547 9.86694 0.575615 10.7168 0.575615 11.7652C0.575615 12.8135 1.42547 13.6634 2.47382 13.6634Z" fill="black"></path><path d="M32.9591 9.86694H9.95277C8.96732 9.86694 8.16845 10.6658 8.16845 11.6513V11.879C8.16845 12.8645 8.96732 13.6634 9.95277 13.6634H32.9591C33.9445 13.6634 34.7434 12.8645 34.7434 11.879V11.6513C34.7434 10.6658 33.9445 9.86694 32.9591 9.86694Z" fill="black"></path><path d="M32.9591 19.358H2.35993C1.37448 19.358 0.575615 20.1569 0.575615 21.1424V21.3701C0.575615 22.3556 1.37448 23.1545 2.35993 23.1545H32.9591C33.9445 23.1545 34.7434 22.3556 34.7434 21.3701V21.1424C34.7434 20.1569 33.9445 19.358 32.9591 19.358Z" fill="black"></path><path d="M32.9592 0.375977H2.36002C1.37457 0.375977 0.575706 1.17484 0.575706 2.16029V2.38808C0.575706 3.37353 1.37457 4.1724 2.36002 4.1724H32.9592C33.9446 4.1724 34.7435 3.37353 34.7435 2.38808V2.16029C34.7435 1.17484 33.9446 0.375977 32.9592 0.375977Z" fill="black"></path></svg>
        <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="close"><path d="M15.6551 29.9662C13.703 29.9699 11.7695 29.5877 9.96562 28.8417C8.16174 28.0957 6.52306 27.0005 5.14375 25.6192C-0.653062 19.8224 -0.653062 10.391 5.14375 4.59416C6.52101 3.20918 8.15929 2.11111 9.96377 1.36351C11.7682 0.615919 13.7031 0.233646 15.6563 0.238821C19.6275 0.238821 23.3608 1.78496 26.1676 4.59416C28.9756 7.40218 30.523 11.1355 30.523 15.1067C30.523 19.0779 28.9768 22.8112 26.1676 25.6192C24.7881 27.0005 23.1492 28.0956 21.3451 28.8416C19.541 29.5876 17.6073 29.9698 15.6551 29.9662ZM15.6563 2.61749C14.0155 2.61283 12.3901 2.93379 10.8743 3.56177C9.35843 4.18975 7.98226 5.11227 6.82547 6.27588C4.46702 8.63433 3.16827 11.7706 3.16827 15.1067C3.16827 18.4428 4.46702 21.5779 6.82547 23.9375C11.6946 28.8066 19.618 28.8078 24.4859 23.9375C26.8444 21.5791 28.1443 18.4428 28.1443 15.1067C28.1443 11.7706 26.8455 8.63552 24.4859 6.27588C23.3291 5.11262 21.9531 4.19033 20.4375 3.56237C18.9219 2.93441 17.2968 2.61325 15.6563 2.61749Z" fill="black"></path><path d="M10.6096 21.3412C10.3741 21.3417 10.1439 21.2723 9.94795 21.1417C9.75204 21.0111 9.59935 20.8252 9.50925 20.6077C9.41916 20.3902 9.39572 20.1508 9.44192 19.9199C9.48812 19.6891 9.60187 19.4771 9.76873 19.311L19.8602 9.21951C19.9707 9.10909 20.1018 9.0215 20.246 8.96173C20.3903 8.90197 20.5449 8.87122 20.7011 8.87122C20.8573 8.87122 21.0119 8.90197 21.1562 8.96173C21.3004 9.0215 21.4315 9.10909 21.542 9.21951C21.6524 9.32994 21.74 9.46103 21.7997 9.6053C21.8595 9.74958 21.8903 9.90421 21.8903 10.0604C21.8903 10.2165 21.8595 10.3712 21.7997 10.5154C21.74 10.6597 21.6524 10.7908 21.542 10.9012L11.4505 20.9927C11.3403 21.1036 11.2093 21.1914 11.0649 21.2512C10.9206 21.311 10.7658 21.3416 10.6096 21.3412Z" fill="black"></path><path d="M20.7012 21.3412C20.545 21.3414 20.3903 21.3107 20.246 21.2509C20.1017 21.1911 19.9706 21.1033 19.8603 20.9927L9.76883 10.9012C9.6584 10.7908 9.57081 10.6597 9.51105 10.5154C9.45129 10.3712 9.42053 10.2165 9.42053 10.0604C9.42053 9.90421 9.45129 9.74958 9.51105 9.6053C9.57081 9.46103 9.6584 9.32994 9.76883 9.21951C9.87925 9.10909 10.0103 9.0215 10.1546 8.96173C10.2989 8.90197 10.4535 8.87122 10.6097 8.87122C10.7658 8.87122 10.9205 8.90197 11.0648 8.96173C11.209 9.0215 11.3401 9.10909 11.4505 9.21951L21.542 19.311C21.7089 19.4771 21.8227 19.6891 21.8689 19.9199C21.9151 20.1508 21.8916 20.3902 21.8015 20.6077C21.7114 20.8252 21.5587 21.0111 21.3628 21.1417C21.1669 21.2723 20.9366 21.3417 20.7012 21.3412Z" fill="black"></path></svg>
      </a>
    </div>
  </nav>
  <div id="sideNavbar" class="side-navbar collapse" style="">
    <div class="p-3 pt-0 ps-md-4 pe-md-4 side-nav-links">
      <div class="mm-mob-links mb-0 d-sm-none d-block">
        <a routerlink="/learn" ng-reflect-router-link="/learn" href="#/learn">Learn</a>
        <a routerlink="/be-a-tutor" ng-reflect-router-link="/be-a-tutor" href="#/be-a-tutor">Be A Tutor</a>
      </div>
      <h6>About us</h6>
      <a href="#">Contact us</a>
      <a href="#">FAQ</a>
      <a href="#/about-us">Why Goonee?</a>
      <a href="#/login">Log in</a>
      <h6>Community</h6>
      <a href="#">Blog</a>
      <a href="#">Community Guidelines</a>
      <a href="#">User Safety</a>
      <a href="#">Non - Descrimination Policy</a>
      <h6>Legal</h6>
      <a href="#">Privacy Policy</a>
      <a href="#">Service Terms</a>
      <a href="#">Payment Terms</a>
      <a href="#">Independent Tutor Agreement</a>
    </div>
    <div class="p-3 pt-0 ps-md-4 pe-md-4 side-app-icons">
      <a href="#"><img src="assets/images/goonee-ios-store-icon.svg" alt="goonee-ios-store" class="mw-100"></a>
      <a href="#"><img src="assets/images/goonee-android-store-icon.svg" alt="goonee-android-store" class="mw-100"></a>
    </div>
    <div class="follow-us bg-primary d-flex p-3 ps-md-4 pe-md-4">
      <h6 class="mb-0 me-2">Follow Us</h6>
      <div>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<!--End Header-->
