/*Custom font*/
@font-face {
    font-family: "Sofia Pro";
    src: url('../fonts/sofia_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sofia Pro";
    src: url('../fonts/sofia_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sofia Pro";
    src: url('../fonts/sofia_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Sofia Pro";
    src: url('../fonts/sofia_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/*End*/
/*Header css*/
.custom_dropdown > .nav-link > i {position: relative;top: 2px;}
.custom_dropdown > .nav-link::after {border: none;padding: 0;transform: rotate(0);-webkit-transform: rotate(0);top: auto;margin: 0;}
.custom_avtar-dropdown {width: 44px;height: 44px;display: block;background-color: rgb(123, 112, 228);border-radius: 50%;}
.custom_avtar-dropdown img {width: 100%;height: 100%}
.custom_link-btn {
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    font-size: 20px;
}
.notification-indicator {position: relative}
.notification-indicator::before {
    position: absolute;
    content: attr(data-count-num);
    right: -3px;
    top: 4px;
    height: 0.813rem;
    width: 0.813rem;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-indicator-primary::before {
    background-color: #FF7F56;
}
.dropdown-menu-notification {
    min-width: 506px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000;
}
.custom_tab-dark {
    border-bottom-color: #4d4d4d;
}
.custom_tab .nav-item {margin-left: 0 !important;}
.custom_tab .nav-item .nav-link {
    font-size: 14px !important;
    border: none !important;
    padding: 10px 20px !important;
}
.custom_tab-dark .nav-item .nav-link:not(:hover) {color: #fff !important;}
header .navbar .navbar-nav .custom_tab .nav-item .nav-link::after {left: 0;}
.custom_tab .nav-item .nav-link:hover::after,.custom_tab .nav-item .nav-link.active::after {
    opacity: 1 !important;
    right: 0 !important;
}
.card-notification .card-link {text-decoration: none}
.custom_tab-dark .nav-item .nav-link.active {
    background-color: rgba(0,0,0,0);
}
/*.os-host {
    position: relative;
    overflow: visible !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}*/
.card-notification .tab-content {
    overflow: auto !important;
    max-height: 19rem;
}
/*End Header css*/
/*Tutor dashboard*/
#dash_sidebar {background: #6C60E1;border-radius: 0px 30px 30px 0px;transition: all 0.4s;position: relative;}
.dash_page-holder {display: flex;overflow-x: hidden;width: 100%;flex-wrap: wrap;}
.dash_page-holder-inner { padding-top: 41px;background-color: rgba(108, 96, 225,.1);border-radius: 30px 0px 0px 30px;padding-bottom: 30px;margin-left: 30px;margin-right: 12px;display: block;width: 100%;}
.sidebar-user-avtar {
    display: inline-flex;
    width: 90px;
    height: 90px;
    background-color: rgba(256,256,256,.1);
    border-radius: 99px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
.sidebar-user-avtar img {max-width: 77px;max-height: 77px;}
.sidebar-link {
    color: #fff;
    display: flex;
    text-decoration: none;
    padding: 14px 20px 14px 65px;
    line-height: 1;
    align-items: center;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    white-space: nowrap;
}
.sidebar-link svg {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1;
}
.sidebar-link span {
    color: inherit;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: all 0.3s;
}
.sidebar-link::after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #473CAF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
    width: 0;
    pointer-events: none;
    transition: width .7s ease-out;
}
.sidebar-link:hover {color:#fff}
.sidebar-link.active::after {background-color: #fff;width: 100%;}
.sidebar-link.active {color: #000}
.sidebar-link.active svg {color: #6C60E1}
.sidebar-user {margin-bottom: 24px;padding-top: 90px;}
.custom_toggle-in-out {
    position: absolute;
    right: -16px;
    top: 164px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 18px;
    border: none;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
    color: #6C60E1;
    min-height: 50px;
    z-index: 1;
}

.shrink_hide-text {transition: all .2s ease}

.custom_holder-page-title {font-size: 1.563rem;font-weight: 700;}
.dash_page-holder-box {border-radius: 10px;padding: 30px;}
.custom_card {box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);border-radius: 0px 10px 10px 10px;border: none;}
.bb-0 {border-bottom-width: 0 !important}
.text-size-20 {font-size: 20px !important}
.text_small {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    display: inline-block;
}
.text-green {color: #63BE6B !important}
.text-orange {color: #FF7F56 !important}
.text-purple {color: #6C60E1 !important}
.mr-1 {margin-right: .5rem;}
.text_size14 {font-size: 14px !important}
.text_size16 {font-size: 16px !important}
.text_bold {font-weight: 700 !important}
.rotate-45 {transform: rotate(45deg);}
.rotate-90 {transform: rotate(90deg);}
.rotate-145 {transform: rotate(145deg);}
.status-summary-chart-wrapper {max-height: 100px;}
.custom_chart-label {list-style: none;margin: 0;padding: 0}
.custom_chart-label li {position: relative}
.custom_chart-label li + li {margin-top: 6px}
.custom_chart-label li span {position: absolute;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);border-radius: 0px 5px 5px 5px;width: 18px;height: 18px;top: 5px;left: 0}
.custom_chart-label li {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    padding-left: 25px;
    line-height: 28px;
}
.custom_brd-left {border-left: 1px solid #ccc;}
.custom_chart-circle-box {padding-left: 15px;padding-bottom: 22px;padding-top: 15px;}
.custom_chart-label.custom_chart-inline li + li {margin-top: 0;margin-left: 10px;}
.custom_dropdown-style1 .btn {
    border: 1px solid #CCC;
    border-radius: 10px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 300;
}
.custom_dropdown-img .btn {
    background-color: rgba(108, 96, 225, .1);
    color: #6C60E1;
    padding-left: 17px;
    padding-right: 17px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom_dropdown-img .btn:hover {background-color: #6C60E1;color: #fff}
.custom_dropdown-style .dropdown-menu {
    background-color: #000;
    border-radius: 7px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px !important;
}
.custom_dropdown-style .dropdown-menu::before {
    content: '';
    border: 14px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    top: -30px;
    right: 10px;
    border-bottom-width: 20px;
}
.custom_dropdown-style .dropdown-menu a {
    font-size: 0.875rem;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    line-height: 32px;
    padding: 1px 22px;
}
.custom_dropdown-style .dropdown-menu a:hover {color: #564db4}
.ml-2 {margin-left: 1.25rem}
@media(min-width:768px) {
    .sidebar-link:hover::after {width: 100%;}
    .custom_dropdown-style .icon.icon-filter {display: none;}
}
@media(min-width:992px) {
    #dash_sidebar {width: 315px;min-width: 315px;margin-top: -72px;}
    .dash_page-holder {min-height: 100vh;}
    #dash_sidebar.shrink {width: 78px;min-width: 78px;}
    .dash_sidebar.shrink .sidebar-link span {display: none;}
    #dash_sidebar.shrink .shrink_hide-text {opacity: 0;height: 0}
    .dash_sidebar.shrink .sidebar-link {margin-right: 9px;justify-content: center;padding-left: 10px;padding-right: 10px;}
    .dash_sidebar.shrink .sidebar-user-avtar {transform: scale(0.65);transform-origin: 27px 0 0;}
    .account header.main-header .container-fluid.custom_large-spacer-80 {padding-left: 90px !important;}
    .dashboard_wrapper {padding-top: 72px;}
    .dash_page-holder-inner > .container-fluid {padding-left: 25px;padding-right: 25px;}
    .main-header .navbar-brand img {transition: .7s ease-out}
    .account:not(.shrink-active-body) .main-header:not(.sticky) .navbar-brand img {-webkit-filter: invert(100%) !important;filter: invert(100%) !important;}
}
@media (min-width:1201px) {
    .custom_large-spacer-80 {padding-right: 80px !important;}
    .dash_page-holder-inner {margin-right: 80px;overflow: hidden}
}
@media (max-width:991.99px) {
    .ms-auto-md {margin-left: auto !important;}
    .dash_page-holder-inner {margin-left: 0}
    .custom_toggle-in-out {display: none !important;}
}
@media (max-width:767px) {
    .d-col-hide {display: none !important}
    header .navbar .navbar-brand {order: 0;margin: 0;}
    .custom_brd-left {border-left-width: 0 !important}
    .custom_chart-circle-box {padding-left: 0;padding-bottom: 0;}
    .custom_holder-page-title {font-size: 1.375rem;}
    .mb-col-1 {margin-bottom: 1rem !important}
    .pb-col-0 {padding-bottom: 0 !important}
    .custom_dropdown-style #dropdownMenuButtonSort span {display:none;}
    .dropdown.custom_dropdown-style.custom_dropdown-style1 .btn::after {display: none;}
    .custom_dropdown-style1 .btn {border: none;border-radius: 0;color: #000;padding-left: 5px !important;padding-right: 5px !important;}
}
@media (max-width:575px) {
    .navToggle {margin-left: 1rem;}
    .navToggle > svg {max-width: 30px;}
    .dash_page-holder-box {padding: 26px 14px;}
}
@media (max-width:479px) {
    .navbar-brand > img {max-width: 100px;}
    .custom_link-btn {padding-left: 0;padding-right: 0;}
}
/*End Tutor dashboard*/


